<section class="controls--{{ section }}">
    <div class="row">
        <div class="medium-24 columns">
            <ul class="list--inline--buttons left">
                <li>
                    <a href="#" data-dropdown="card-type-{{ section }}">Card Type <i class="fa fa-caret-down"></i></a>
                    <ul id="card-type-{{ section }}" class="f-dropdown" data-dropdown-content>
                        {% for key, value in card_type_labels.items %}
                            <li>
                                <a href="{% url url_string object.slug key role_line|default:'all' sort_by|default:'ovr' %}">
                                    {{ value }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if card_type %}
                    <li class="active"><a href="#">{{ card_type|capfirst }}</a></li>
                {% endif %}
            </ul>

            <ul class="list--inline--buttons left">
                <li>
                    <a href="#" data-dropdown="role-line-{{ section }}">Role Line <i class="fa fa-caret-down"></i></a>
                    <ul id="role-line-{{ section }}" class="f-dropdown" data-dropdown-content>
                        {% for key, value in role_labels.items %}
                            <li>
                                <a href="{% url url_string object.slug card_type|default:'all' key sort_by|default:'ovr' %}">
                                    {{ value }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if role_line %}
                    {% if role_line != 'all' %}
                        <li class="active">
                            <a href="#">
                                {% for role in role_label %}
                                    {{ role }}{% if forloop.first and role_label|length <= 1 or forloop.last %}{% else %}, {% endif %}
                                {% endfor %}
                            </a>
                        </li>
                    {% else %}
                        <li class="active">
                            <a href="#">
                                {{ role_label }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

            <ul class="list--inline--buttons left">
                <li>
                    <a href="#" data-dropdown="sort-by-{{ section }}">Sort by <i class="fa fa-caret-down"></i></a>
                    <ul id="sort-by-{{ section }}" class="f-dropdown" data-dropdown-content>
                        {% ifequal role_line 'gk' %}
                            {% for key, value in sort_labels_gk.items %}
                                <li>
                                    <a href="{% url url_string object.slug card_type|default:'all' role_line|default:'all' key %}">
                                        {{ value }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            {% for key, value in sort_labels_else.items %}
                                <li>
                                    <a href="{% url url_string object.slug card_type|default:'all' role_line|default:'all' key %}">
                                        {{ value }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endifequal %}
                    </ul>
                </li>
                {% if sort_by %}
                    <li class="active">
                        <a href="#">
                            {{ sort_label }}
                        </a>
                    </li>
                {% endif %}
            </ul>

            <ul class="list--inline--buttons right">
                {% if players.paginator.num_pages > 1 %}
                    {% if players.has_previous %}
                        <li class="arrow"><a href="?page={{ players.previous_page_number }}">Prev</a></li>
                    {% else %}
                        <li class="unavailable"><a href="#">Prev</a></li>
                    {% endif %}
                    {% for page in players.paginator.page_range %}
                        {% if forloop.counter == players.number %}
                            <li class="active"><a href="?page={{ page }}">{{ players.number }} of {{ players.paginator.page_range|length }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if players.has_next %}
                        <li class="arrow"><a href="?page={{ players.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="unavailable"><a href="#">Next</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</section>