{% if players.paginator.num_pages > 1 %}
  <div class="pagination-centered">
    <ul class="pagination">
      {% if players.has_previous %}
        <li class="arrow"><a href="?page={{ players.previous_page_number }}">&laquo;</a></li>
      {% endif %}
      {% for page in players.paginator.page_range %}
        {% if forloop.first %}
          <li {% if forloop.counter == players.number %}class="current"{% endif %}><a href="?page={{ page }}">{{ page }}
        {% elif forloop.last %}
          <li {% if forloop.counter == players.number %}class="current"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
        {% elif forloop.counter == players.number %}
          <li class="current"><a href="?page={{ page }}">{{ players.number }}</a></li>
        {% elif forloop.counter == players.number|add:"-1" %}
          {% if forloop.counter == 2 %}
          {% else %}
            <li class="unavailable"><a href="">&hellip;</a></li>
          {% endif %}
          <li><a href="?page={{ page }}">{{ page }}</a></li>
        {% elif forloop.counter == players.number|add:"1" %}
          <li><a href="?page={{ page }}">{{ page }}</a></li>
          {% if players.paginator.num_pages == players.number|add:"2" %}
          {% else %}
            <li class="unavailable"><a href="">&hellip;</a></li>
          {% endif %}
        {% elif forloop.counter < players.number or forloop.counter > players.number %}
        {% else %}
          <li><a href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
      {% if players.has_next %}
        <li class="arrow"><a href="?page={{ players.next_page_number }}">&raquo;</a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}