{% extends "base.html" %}
{% load staticfiles %}

{% block subheading %}
    <div class="medium-24 columns">
        <h1 class="title left">{{ club.name_abbr15 }} ({{ club.name_abbr3 }})</h1> <img alt="" class="left" width="70" src="{% static 'img/clubs/' %}{{ club.asset_id }}.png">
    </div>
{% endblock subheading %}

{% block controls--top %}
    {% include "includes/detail/controls.html" with object=club section='top' %}
{% endblock controls--top %}

{% block content %}

  {% include "includes/detail/content.html" with object=club %}

{% endblock %}

{% block controls--bottom %}
    {% include "includes/detail/controls.html" with object=club section='bottom' %}
{% endblock controls--bottom %}