// Make sure the charset is set appropriately
@charset "UTF-8";

//  Core Foundation imports
@import "foundation/normalize";
@import "compass";

// Local imports
@import "foundation/settings";
@import "font-awesome/font-awesome";

// Behold, here are all the Foundation components.
@import
    "foundation/foundation/components/grid",
    "foundation/foundation/components/accordion",
    "foundation/foundation/components/alert-boxes",
    "foundation/foundation/components/block-grid",
    "foundation/foundation/components/breadcrumbs",
    "foundation/foundation/components/button-groups",
    "foundation/foundation/components/buttons",
    "foundation/foundation/components/clearing",
    "foundation/foundation/components/dropdown",
    "foundation/foundation/components/dropdown-buttons",
    "foundation/foundation/components/flex-video",
    "foundation/foundation/components/forms",
    "foundation/foundation/components/inline-lists",
    "foundation/foundation/components/joyride",
    "foundation/foundation/components/keystrokes",
    "foundation/foundation/components/labels",
    "foundation/foundation/components/magellan",
    "foundation/foundation/components/orbit",
    // "foundation/foundation/components/pagination",
    "foundation/foundation/components/panels",
    "foundation/foundation/components/pricing-tables",
    "foundation/foundation/components/progress-bars",
    "foundation/foundation/components/range-slider",
    "foundation/foundation/components/reveal",
    "foundation/foundation/components/side-nav",
    "foundation/foundation/components/split-buttons",
    "foundation/foundation/components/sub-nav",
    "foundation/foundation/components/switches",
    "foundation/foundation/components/tables",
    "foundation/foundation/components/tabs",
    "foundation/foundation/components/thumbs",
    "foundation/foundation/components/tooltips",
    // "foundation/foundation/components/top-bar",
    "foundation/foundation/components/type",
    "foundation/foundation/components/offcanvas",
    "foundation/foundation/components/visibility";

// Misc
@import "jquery-ui";

@import "fifautdb/fifautdb";

@mixin heading-margin-bottom() {
    // $font-sizes: ($h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size, $h5-font-size, $h6-font-size);
    $font-sizes: (
            1: $h1-font-size,
            2: $h2-font-size,
            3: $h3-font-size,
            4: $h4-font-size,
            5: $h5-font-size,
            6: $h6-font-size,
    );
    @for $i from 1 through 6 {
        h#{$i} {
            margin-bottom: map-get($font-sizes, $i) * $header-line-height / 2;;
        }
    }
}

@include heading-margin-bottom;

body               { background: $primary-color-dark; }
.content-container { background: $white; padding: rem-calc(20 0); }