{% extends "base.html" %}
{% load staticfiles %}

{% block subheading %}
    <div class="medium-24 columns">
        <h1 class="title left">{{ nation.name }} ({{ nation.name_abbr3 }})</h1> <img alt="" class="left" height="70" src="{% static 'img/nations/' %}{{ nation.asset_id }}.png">
    </div>
{% endblock subheading %}

{% block controls--top %}
    {% include "includes/detail/controls.html" with object=nation section=top %}
{% endblock controls--top %}

{% block content %}

    {% include "includes/detail/content.html" with object=nation %}

{% endblock %}

{% block controls--bottom %}
    {% include "includes/detail/controls.html" with object=nation section=bottom %}
{% endblock controls--bottom %}