{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block pageTitle %}
            Page title block, this needs changing brah
        {% endblock %}
    </title>

    {% block headstyles %}
        <link href="{% static 'css/screen.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block headscripts %}
        <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    {% endblock %}
</head>
<body>

<header class="top-bar">
    <div class="row" data-equalizer>

        <div class="medium-4 columns" data-equalizer-watch>
            <a class="brand__logo" href="{% url 'index' %}">FifaUTDB</a>
        </div>

        <div class="medium-8 columns" data-equalizer-watch>
            <nav>
                <ul class="list--inline">
                    <li><a href="{% url 'clubs:list' %}">Clubs</a></li>
                    <li><a href="{% url 'leagues:list' %}">Leagues</a></li>
                    <li><a href="{% url 'nations:list' %}">Nations</a></li>
                    <li><a href="{% url 'players:list' %}">Players</a></li>
                </ul>
            </nav>
        </div>

        <div class="medium-7 columns" data-equalizer-watch>
            <form class="form--top-bar clearfix" action="">

                <div class="input__icon-wrapper">
                    <input type="search" placeholder="Search">
                    <i class="fa fa-search"></i>
                </div>

            </form>
        </div>

        <div class="medium-5 columns" data-equalizer-watch>
            <div class="account">
                <a href="#">
                    <img alt="" src="{% static 'img/kits/11_0.png' %}" width="40">
                    Username <i class="fa fa-caret-down"></i>
                </a>
                <ul class="account__dropdown medium-24 columns">
                    <li>
                        <a href="#"><i class="fa fa-home fa-fw"></i>Scenes</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book fa-fw"></i>Settings</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pencil fa-fw"></i>Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-cog fa-fw"></i>Log out</a>
                    </li>
                </ul>
            </div>
        </div>

        </div>
    </div>
</header>

<header class="top-bar__subheading">
    <div class="row">
        {% block subheading %}
        <div class="medium-24 columns">

            <h1 class="title left">Sub heading</h1>

            <form class="form--top-bar medium-9 right" action="">
                <div class="input__icon-wrapper">
                    <input type="search" placeholder="Search">
                    <i class="fa fa-search"></i>
                </div>
            </form>

        </div>
        {% endblock subheading %}
    </div>
</header>

{% block controls--top %}

{% endblock controls--top %}

<section class="content-container">
    <div class="row">
        <main>
            {% block content %}
            <div class="medium-24 columns">

                <h1>h1. This is a very large header.</h1>
                <h2>h2. This is a large header.</h2>
                <h3>h3. This is a medium header.</h3>
                <h4>h4. This is a moderate header.</h4>
                <h5>h5. This is a small header.</h5>
                <h6>h6. This is a tiny header.</h6>

                <br>

                <h1 class="subheader">h1. subheader</h1>
                <h2 class="subheader">h2. subheader</h2>
                <h3 class="subheader">h3. subheader</h3>
                <h4 class="subheader">h4. subheader</h4>
                <h5 class="subheader">h5. subheader</h5>
                <h6 class="subheader">h6. subheader</h6>

                <hr>

                <h3>Definition List</h3>
                <h5>Definition lists are great for small block of copy that describe the header</h5>
                <dl>
                    <dt>Lower cost</dt>
                    <dd>The new version of this product costs significantly less than the previous one!</dd>
                    <dt>Easier to use</dt>
                    <dd>We've changed the product so that it's much easier to use!</dd>
                    <dt>Safe for kids</dt>
                    <dd>You can leave your kids alone in a room with this product and they won't get hurt (not a guarantee).</dd>
                </dl>
                <hr>

                <h5>Un-ordered lists are great for making quick outlines bulleted.</h5>
                <ul class="disc">
                    <li>List item with a much longer description or more content.</li>
                    <li>List item</li>
                    <li>List item
                        <ul>
                            <li>Nested List Item</li>
                            <li>Nested List Item</li>
                            <li>Nested List Item</li>
                        </ul>
                    </li>
                    <li>List item</li>
                    <li>List item</li>
                    <li>List item</li>
                </ul>

                <h5>Ordered lists are great for lists that need order, duh.</h5>
                <ol>
                    <li>List Item 1</li>
                    <li>List Item 2</li>
                    <li>List Item 3</li>
                </ol>



                <br>
                <h5>Blockquote</h5>
                <blockquote>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite></blockquote>

                <br>
                <h5>Vcard</h5>
                <ul class="vcard">
                    <li class="fn">Gaius Baltar</li>
                    <li class="street-address">123 Colonial Ave.</li>
                    <li class="locality">Caprica City</li>
                    <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
                    <li class="email"><a href="#">g.baltar@example.com<script type="text/javascript">
                        /* <![CDATA[ */
                        (function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
                        /* ]]> */
                    </script></a></li>
                </ul>

            </div>
            {% endblock content %}
        </main>
    </div>
</section>

{% block controls--bottom %}

{% endblock controls--bottom %}

<footer class="footer__social">

    <div class="row">

        <div class="medium-4 columns">
            <a class="brand__logo" href="{% url 'index' %}">FifaUTDB</a>
        </div>

        <div class="medium-12 columns">
            <nav>
                <ul class="list--inline">
                    <li><a href="#">Library</a></li>
                    <li><a href="#">Learn</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Gallery</a></li>
                </ul>
            </nav>
        </div>

        <div class="medium-5 columns">
            <ul class="list--inline social">

                <li class="social__facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>

                <li class="social__twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>

                <li class="social__googleplus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>

            </ul>
        </div>

    </div>

</footer>

<footer class="footer__copy">
    <div class="row medium-14 medium-centered columns">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p>When an unknown <a href="#">printer</a> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
    </div>
</footer>

<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/fastclick.js' %}"></script>
<script src="{% static 'js/foundation/foundation.js' %}"></script>
<script src="{% static 'js/foundation/foundation.dropdown.js' %}"></script>
<script src="{% static 'js/foundation/foundation.equalizer.js' %}"></script>
<script type="text/javascript">
    $(document).foundation();
</script>

</body>
</html>