{% load staticfiles %}

<div class="large-12 columns clearfix">

  <div class="left">

    {% with object.get_class_name|add:'s'|add:':'|add:object.get_class_name|add:'_filter'|lower as url_string %}

    <dl class="sub-nav">
      <dt>Card Type:</dt>
      {% with 'all if gold silver bronze' as card_types  %}
        {% for ct in card_types.split %}
          {% cycle 'All' 'Inform' 'Gold' 'Silver' 'Bronze' as card_type_name silent %}
          {% if card_type == ct %}
            <dd class="active">
              {% else %}
            <dd>
          {% endif %}
          <a href="{% url url_string object.slug ct role_line|default:'all' sort_by|default:'ovr' %}">
            {{ card_type_name }}
          </a>
        </dd>
        {% endfor %}
      {% endwith %}
    </dl>

    <dl class="sub-nav">
      <dt>Role Line:</dt>
      {% with 'all att mid def gk' as role_lines  %}
        {% for rl in role_lines.split %}
          {% cycle 'All' 'Attackers' 'Midfielders' 'Defenders' 'Goalkeepers' as role_lines_name silent %}
          {% if role_line == rl %}
            <dd class="active">
              {% else %}
            <dd>
          {% endif %}
          <a href="{% url url_string object.slug card_type|default:'all' rl sort_by|default:'ovr' %}">
            {{ role_lines_name }}
          </a>
        </dd>
        {% endfor %}
      {% endwith %}
    </dl>

    <dl class="sub-nav">
      <dt>Sort By:</dt>
      {% with 'ovr att1 att2 att3 att4 att5 att6' as sorts  %}
        {% for sort in sorts.split %}
          {% ifequal role_line 'gk' %}
            {% cycle 'Overall' 'Diving' 'Handling' 'Kicking' 'Reflexes' 'Speed' 'Positioning' as sorts_name silent %}
          {% else %}
            {% cycle 'Overall' 'Pace' 'Shooting' 'Passing' 'Dribbling' 'Defending' 'Heading' as sorts_name silent %}
          {% endifequal %}
          {% if sort_by == sort %}
            <dd class="active">
              {% else %}
            <dd>
          {% endif %}
          <a href="{% url url_string object.slug card_type|default:'all' role_line|default:'all' sort %}">
            {{ sorts_name }}
          </a>
        </dd>
        {% endfor %}
      {% endwith %}
    </dl>
    {% endwith %}

    {% if object.leagues %}
      <h2>Leagues</h2>
      {% for league in object.leagues.all %}
        <a href="{% url 'leagues:league' league.slug %}">
          <img alt="{{ league.name }} league logo" src="{% static 'img/leagues/' %}{{ league.asset_id }}.png">
          {{ league.name_abbr15 }}
        </a>
      {% endfor %}
    {% endif %}

  </div>
  <!-- 'left' -->

  <div class="panel right">
    <h3>{{ object.name }} details</h3>

    <p>Players: {{ object.count_players }}</p>

    <p>IF's: {{ object.count_players_if }}</p>

    <p>Golds: {{ object.count_players_gold }}</p>

    <p>Silvers: {{ object.count_players_silver }}</p>

    <p>Bronzes: {{ object.count_players_bronze }}</p>

    <p>Average Rating: {{ object.players_average|floatformat:"0" }}</p>
  </div>
  <!-- 'panel right' -->

  <hr>

  <h2>Players</h2>

  {% include "players/includes/card-list.html" %}

</div> <!-- large-12 columns -->

<script>
  if (!$("dl.sub-nav dd").hasClass("active")) {
    $("dl.sub-nav dd:first-of-type").addClass("active");
  }
</script>