[class^='list'] {
    margin: 0;

    &[class*='--inline'] {
        @extend .clearfix;

        list-style: none;

        &[class*='--buttons'] {
            line-height: rem-calc(40);

             > li > a {
                height: rem-calc(40);
                padding: rem-calc(8 18);

                border: $border-styling;
                @include border-radius($global-radius);

                line-height: rem-calc(24);
            }

            .unavailable a {
                border: 1px solid #f3f4f6;

                cursor: default;
                color: #b7bac3;
            }
            .active a {
                background: $primary-color;

                border: 1px solid $primary-color;

                color: #fff;
            }
        }

        > li {
            float: left;
            margin-right: rem-calc(10);

            &:last-child { margin-right: 0; }

             > a {
                display: block;
                padding: rem-calc(0 10);
            }
        }
    }
}